@use 'src/app/styles/breakpoints';

.loader {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        margin: 0px 5px;
    }
}
@media (max-width: breakpoints.$xxl) {
    .loader {
        height: 30vh;
    }
}