@use 'src/app/styles/breakpoints';

.Table {
    color: var(--bs-gray);
    border-top: 1px solid var(--bs-light-gray);
    background-color: var(--bs-white-opacity);
    padding: 15px;
    position: relative;
}

.tbody {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    div {
        width: 25%;
    }
}

.expired {
    background-color: var(--bs-danger-opacity);
    color: var(--bs-white);
}
.be_changed {
    background-color: var(--bs-yellow-opacity);
    color: var(--bs-gray);
}
.not_expired {
    background-color: var(--bs-green-opacity);
    color: var(--bs-gray);
}
.changed_at {
    padding-right: 5px;
    .flex {
        padding: 5px 0px;
    }
    .margin_top {
        margin-top: 15px;
    }
    div {
        width: 100%;
    }
}
.input {
    padding: 5px;
    border: none;
    width: 80px;
    outline: none;
    border-radius: 5px;
    resize: none;
}

.pastDays {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    div {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .margin_top {
        margin-top: 5px;
    }
}

.options {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    .column {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 10px;
    }
    button {
        padding: 5px 8px;
    }
}

.checkBtn {
    background-color: var(--bs-teal);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bs-white);
    cursor: pointer;
    transition: 100ms;
    margin-left: 5px;
    height: 30px;
    border-radius: 50%;

    &:hover {
        background-color: var(--bs-green);
    }
}

.margin_left {
    margin-left: 5px;
}
.confirmationCheck1,
.confirmationCheck2 {
    position: absolute;
    background-color: var(--bs-white);
    top: 35%;
    right: 3%;
    z-index: 10;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    padding: 5px;

    .title {
        color: var(--bs-dark);
        margin-bottom: 5px;
        display: flex;
        justify-content: center;
    }

    .confirm_btn {
        display: flex;
        justify-content: space-between;
    }
}
.confirmationCheck1 {
    right: 6%;
}

.deleteUserOpen {
    position: absolute;
    background-color: var(--bs-white);
    top: 65%;
    right: 5.5%; 
    z-index: 10;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    padding: 5px;

    .title {
        color: var(--bs-dark);
        margin-bottom: 5px;
        display: flex;
        justify-content: center;
    }

    .confirm_btn {
        display: flex;
        justify-content: space-between;
    }
}

.comment {
    font-size: 12px;
    display: flex;
    justify-content: center;
}
