@use 'src/app/styles/breakpoints';

.Table {
    color: var(--bs-gray);
    border-top: 1px solid var(--bs-light-gray);
    background-color: var(--bs-white-opacity);
    padding: 25px;
}

.tbody {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    div {
        width: 25%;
    }
}

